html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

/* Временная подсветка блоков  */

/* Первый уровень вложенности */
/* body > * {
  background-color: rgba(255, 0, 0, 0.2);
} */

/* Второй уровень вложенности */
/* body > * > * {
  background-color: rgba(0, 255, 0, 0.2);
} */

/* Третий уровень вложенности */
/* body > * > * > * {
  background-color: rgba(255, 255, 0, 0.2);
} */

/* Четвертый уровень вложенности */
/* body > * > * > * > * {
  background-color: rgba(212, 0, 255, 0.2);
} */

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;

  transform: translateX(-50%);
}

.header-logo:focus {
  border-radius: 50%;
  outline: none;
  box-shadow: 0 1px 2px 1px #81b3d3;
}

.page-header {
  padding-left: 51px;
  padding-right: 51px;
}

.page-header,
.page-header a:link,
.page-header a:visited {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

.page-header a:hover,
.page-header a:focus {
  color: #81b3d2;
  outline: none;
}

.page-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header ul {
  flex-wrap: wrap;
  flex-shrink: 0;
  display: flex;

  padding: 14px 21px;
  margin: 0;

  list-style-type: none;
}

.page-header nav {
  position: relative;
}

.page-header li {
  width: 210px;
}

.page-header li {
  margin-left: 31px;
}

.page-header li:nth-child(1),
.page-header li:nth-child(5) {
  margin-left: 0;
}

.page-header li:nth-child(3),
.page-header li:nth-child(4),
.page-header li:nth-child(7),
.page-header li:nth-child(8) {
  text-align: right;
}

.page-header li:nth-child(3),
.page-header li:nth-child(7) {
  margin-left: 154px;
}

.site-content {
  position: relative;
}

.welcome {
  width: 100%;
  padding: 78px 0;

  background-color: #F3F2EF;
  background-image:
    url('../img/polygon.svg'),
    url('../img/welcome-background.jpg');
  background-position:
    center bottom,
    center center;
  background-repeat: no-repeat;
}

.welcome-titles {
  display: block;
  margin: 0 auto;
}

.advantages {
  margin-top: 61px;
}

.advantages h2 {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.advantages-slogan {
  width: 800px;
  margin: 0 auto;

  line-height: 26px;
  text-align: center;
}

.advantages ul {
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  display: flex;

  padding: 0;
  margin: 0;
  margin-top: 51px;

  list-style-type: none;
  background-color: #eeeeee;
}

.cause-content h3,
.cause-content p,
.advantages-additional b {
  margin: 0 auto;

  text-align: center;
}

.cause-content h3,
.advantages-additional b {
  width: 151px;
  margin-top: 47px;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.cause-content p {
  width: 305px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.cause-content img {
  margin-top: auto;
}

.cause-content:nth-of-type(n + 3):not(:last-of-type) {
  width: 400px;
  padding-bottom: 36px;
}

.cause-content:nth-of-type(n + 3):not(:last-of-type) p {
  width: 275px;
}

.cause-number {
  position: relative;
}

.cause-number::before {
  position: absolute;
  top: 11px;
  left: 128px;
  content: "";

  display: block;
  width: 8px;
  height: 1px;

  background-color: #ffffff;
}

.cause-number::after {
  position: absolute;
  top: 11px;
  right: 128px;
  content: "";

  display: block;
  width: 8px;
  height: 1px;

  background-color: #ffffff;
}

.cause-content:nth-child(n + 3) .cause-number::before,
.cause-content:nth-child(n + 3) .cause-number::after {
  background-color: #000000;
}

.cause-content:nth-of-type(n + 3):not(:last-of-type) h3 {
  margin-top: 46px;
}

.cause-content:nth-child(n + 3) .cause-number::before {
  left: 111px;
}

.cause-content:nth-child(n + 3) .cause-number::after {
  right: 113px;
}

.cause-text-content {
  width: 400px;

  background-color: #81b3d2;
}

.cause-content:first-of-type,
.cause-content:nth-of-type(2) {
  flex-shrink: 0;
  display: flex;

  color: #ffffff;
}

.cause-content:nth-of-type(n + 2) {
  order: 2;
}

.cause-content:last-of-type {
  order: 1;
}

.cause-content:nth-of-type(2) .cause-text-content {
  order: 1;
}

.advantages .advantages-additional {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 40px;

  background-color: #ffffff;
}

.advantages-additional li {
  width: 400px;
  margin-bottom: 20px;
}

.advantages-additional b {
  display: block;
  margin-top: 29px;
}

.cause-housing,
.cause-food {
  margin-top: 4px;
}

.cause-housing::before {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  content: "";

  background-image: url('../img/housing.svg');
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.cause-food::before {
  display: block;
  width: 74px;
  height: 72px;
  margin: 0 auto;
  content: "";

  background-image: url('../img/food.svg');
  background-repeat: no-repeat;
  background-size: 74px 70px;
}

.cause-souvenir::before {
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto;
  content: "";

  background-image: url('../img/souvenirs.svg');
  background-repeat: no-repeat;
  background-size: 64px 76px;
}

.search {
  position: relative;

  padding-top: 50px;
}

.search-slogan-title {
  display: block;
  width: 576px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-slogan {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 47px;

  line-height: 24px;
  text-align: center;
}

.search-link {
  display: block;
  width: 568px;
  padding: 30px 30px;
  margin: 0 auto;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
}

.search-popup {
  position: absolute;
  top: 291px;
  left: 50%;
  z-index: 5;

  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  flex-shrink: 0;
  display: flex;
  width: 568px;
  padding: 55px;
  margin: 0 auto;
  transform: translate(-50%);

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.search-popup label {
  position: relative;

  display: block;
  margin-top: 6px;

  font-weight: bold;
  line-height: 26px;
}

.search-popup input[type="text"] {
  margin-bottom: 29px;
  margin-left: auto;
  padding: 6px 12px;
  border: none;

  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.search-popup input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-popup input[type="text"]:focus {
  background-color: #ffffff;
  outline: none;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.search-popup input[name="arrival-date"],
.search-popup input[name="departure-date"] {
  width: 346px;
  padding-right: 41px;
}

.calendar {
  position: absolute;
  top: 2px;
  left: 428px;

  width: 21px;
  height: 22px;

  background-image: url(../img/calendar.svg);
  background-position: 0 -64px;
  background-repeat: no-repeat;
}

.calendar:hover,
.calendar:focus {
  background-position: 0 -32px;

  cursor: pointer;
}

.calendar:active {
  background-position: 0 0;
}

.search-popup input[name="adults"],
.search-popup input[name="children"] {
  width: 38px;
  padding-right: 5px;
  padding-left: 5px;

  text-align: center;
}

.search-popup input[name="adults"] {
  margin-left: 0;
}

.search-popup label:last-of-type {
  margin-left: auto;
}

.search-popup input[name="children"] {
  margin-left: 0;
}

.search-popup .btn {
  position: relative;

  width: 38px;
  height: 38px;
  border: none;
  padding: 0;

  background-color: #f2f2f2;
}

.search-popup .btn:hover,
.search-popup .btn:focus {
  outline: none;
  background-color: #ebebeb;
}

.search-popup .btn:active {
  outline: none;
}
.search-popup .btn:first-of-type {
  margin-left: 40px;
}

.search-popup .btn:nth-of-type(3) {
  margin-left: 27px;
}

.search-popup .btn-minus::before {
  position: absolute;
  top: 19px;
  left: 14px;

  width: 11px;
  height: 3px;
  content: "";

  background-color: #a9a9a9;
}

.search-popup .btn-plus::before {
  position: absolute;
  top: 19px;
  left: 14px;

  width: 11px;
  height: 3px;
  content: "";

  background-color: #a9a9a9;
}

.search-popup .btn-plus::after {
  position: absolute;
  top: 15px;
  left: 18px;

  width: 3px;
  height: 11px;
  content: "";

  background-color: #a9a9a9;
}

.search-popup .btn-minus:hover::before,
.search-popup .btn-plus:hover::before,
.search-popup .btn-plus:hover::after,
.search-popup .btn-minus:focus::before,
.search-popup .btn-plus:focus::before,
.search-popup .btn-plus:focus::after {
  background-color: #000000;
}

.search-popup .btn-minus:active::before,
.search-popup .btn-plus:active::before,
.search-popup .btn-plus:active::after {
  background-color: #81b3d2;
}

.search-popup button[type="submit"] {
  width: 458px;
  padding: 16px 50px;
  margin-top: 26px;
  border: none;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.search-popup button[type="submit"]:hover,
.search-popup button[type="submit"]:focus {
  outline: none;
  background-color: #669ec0;
}

.search-popup button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.search-map {
  width: 100%;
  height: 593px;
  overflow: hidden;

  background-color: #F3F2EF;
  background-image: url("../img/map.jpg");
  background-size: 1200px 593px;
}

.page-footer {
  position: absolute;
  bottom: 0px;

  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;
  display: flex;
  width: 1200px;
  padding-right: 101px;
  padding-left: 133px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  width: 268px;
  margin-top: 46px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.page-footer ul {
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  display: flex;
  width: 305px;
  padding: 0;
  margin-top: 36px;
  margin-right: 2px;
  margin-bottom: 37px;

  list-style: none;
}

.footer-social li {
  margin-bottom: 6px;
}

.page-footer li:not(:first-child) {
  margin-left: 6px;
}

.social-btn {
  position: relative;

  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
  outline: none;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active::before {
  opacity: 0.3;
}

.social-btn-twitter::before {
  position: absolute;
  top: 17px;
  left: 15px;

  display: block;
  width: 17px;
  height: 15px;
  content: "";

  background-image: url("../img/twitter.svg");
  background-size: 17px 15px;
}

.social-btn-facebook::before {
  position: absolute;
  top: 13px;
  left: 17px;

  display: block;
  width: 12px;
  height: 22px;
  content: "";

  background-image: url("../img/facebook.svg");
  background-size: 12px 22px;
}

.social-btn-youtube::before {
  position: absolute;
  top: 16px;
  left: 13px;

  display: block;
  width: 20px;
  height: 16px;
  content: "";

  background-image: url("../img/youtube.svg");
  background-size: 20px 16px;
}

.footer-production {
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 300px;
  margin-top: 5px;
}

.production-logo {
  margin-left: 8px;
  padding-top: 7px;
}

.production-logo:focus {
  outline: none;
}

.production-logo svg {
  fill: #000000;
}

.production-logo:hover svg,
.production-logo:focus svg {
  fill: #81b3d2;
}

.production-logo:active svg {
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;

  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
